@model IEnumerable<Sched.Models.WorkOrder>

<form method="post" action="@Url.Action("Search","WorkOrders")">
    <input type="hidden" id="searchField" name="searchField" value="id" />
    <label for="searchValue" class="control-label col-md-2">Work Order ID</label>
    <input class="form-control col-md-2" type="text" id="searchValue" name="searchValue" />
    <input class="col-sm-offset-1" type="submit" value="Search" />
</form>
<br />
<button onclick="location.href = '@(Url.Action("Filter", "WorkOrders"))'">Filters</button>
<br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minimum_start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maximum_start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_area_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estimated_time_minutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Details", "WorkOrders", new { id = item.Id }))'">
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minimum_start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maximum_start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_area_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estimated_time_minutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_at)
        </td>
    </tr>
}

</table>
