@using Sched.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @Html.Action("_WorkOrdersPartial", "WorkOrders")
</div>
<div class="row">
    <div class="col-md-4">
        @if (Session["WOHeader"] != null)
        {
            WOHeader WOHeader = (WOHeader)Session["WOHeader"];
            @Html.Action("_ReccomendationsPartial", "Recommendations", new { WOHeader })
        }
    </div>
    <form>
        <input type="button" value="Create Work Order" onclick="location.href='@Url.Action("NewWorkOrder","Display")'"/>
        @*need to get workorderId*@
        
        @if (Session["workOrder"] != null)
        {
            <input type="button" value="Update Work Order" onclick="location.href='@Url.Action("Update","Display")'" />
            <input type="button" value="Book Work Order" onclick="location.href='@Url.Action("Book","Display")'" />
            <input type="button" value="Cancel Work Order" onclick="location.href='@Url.Action("Cancel","Display")'" />

        }
    </form>
    @*Work Order Crud view
    This uses session variables to determine which form to display and uses sessions to pass the work order model
    This allows the forms to remain unaffected by filters*@
    @if (Session["Success"] != null)
    {
        <label>@Session["Success"].ToString()<br /></label>
    }
    @if (Session["Error"] != null)
    {
        <label>@Session["Error"]<br /></label>
    }

    @if(Session["WorkOrderFormType"]==null|| Session["WorkOrderFormType"].ToString() =="Select")
    {
        if (Session["workOrder"]!=null)
        {
            WorkOrder workOrder = (WorkOrder)Session["workOrder"];
            <label>Id: @workOrder.Id<br /></label>
            <label>Estimated Time(mins): @workOrder.estimated_time_minutes<br /></label>
            <label>Max Start Time: @workOrder.maximum_start_time<br /></label>
            <label>Min Start Time: @workOrder.minimum_start_time<br /></label>
            <label>Postal Code: @workOrder.postal_code<br /></label>
            <label>Priority: @workOrder.priority<br /></label>
            <label>Address: @workOrder.address<br /></label>
            <label>Status Id: @workOrder.status_id<br /></label>
            <label>Area Id:@workOrder.work_area_id<br /></label>
        }
    }
    else if (Session["WorkOrderFormType"].ToString() == "Cancel")
    {
        WorkOrder cancelWorkOrder = (WorkOrder)Session["workOrder"];
        <form method="post" action="@Url.Action("cancelWorkOrder","Display")">
            <label>Are you sure you want to delete work order: @cancelWorkOrder.Id</label>
            <button class="btn-blue">@Html.ActionLink("Cancel", "Index" , "Home")</button>
           
            <input class="form-control" type="submit" value="submit" />
        </form>
    }
    else if (Session["WorkOrderFormType"].ToString() == "Create")
    {

        var test = Session["WorkAreaList"];
        <form method="post" action="@Url.Action("CreateWorkOrder", "Display")">

            
            <label>Earliest Start Date</label>
            <input class="form-control" type="datetime-local" id="minimum" name="minimum" required="true" />

            <label>Current Max start date @Session["MaxDateTime"]</label>
            <label>Max Start Date<br /></label>
            <input class="form-control" type="datetime-local" id="maximum" name="maximum" required="true" />
            

            <label>job Type</label>
            @Html.DropDownList("jobType", (IEnumerable<SelectListItem>)Session["JobSelectList"])
            <label>priority</label>
           @Html.DropDownList("priority" ,(IEnumerable<SelectListItem>)Session["PriorityList"])
                

            
            <label>Work Area</label>
            @Html.DropDownList("workArea", (IEnumerable<SelectListItem>)Session["WorkAreaList"])

            <label>Address</label>
            <input class="form-control" type="text" id="address" name="address"  required="true" />
            <label>Postal Code</label>
            <input class="form-control" type="text" id="postalCode" name="postalCode"  required="true" />
            <label>Estimated Time</label>
            <input class="form-control" type="number" id="estimatedTime" name="estimatedTime" required="true" />
            <input class="form-control" type="submit" value="submit" />


        </form>
    }

    else if (Session["WorkOrderFormType"].ToString() == "Update")
    {
        if (Session["workOrder"] != null)
        {
            WorkOrder updateWorkOrder = (WorkOrder)Session["workOrder"];
            <form method="post" action="@Url.Action("updateWorkOrder", "Display")">
                <label>Earliest Start Date<br /></label>
                <label>Current Min start date @Session["MinDateTime"]<br /></label>
                <input class="form-control" type="datetime-local" id="minimum" name="minimum" value=updateWorkOrder.minimum_start_time/>
                <label>Max Start Date<br/></label>
                <input class="form-control" type="datetime-local" id="maximum" name="maximum" value=updateWorkOrder.maximum_start_time />
               <label>Current Max start date @Session["MaxDateTime"]<br /></label>
                
                <label>job Type</label>
                @Html.DropDownList("jobType", (IEnumerable<SelectListItem>)Session["JobSelectList"])
                <label>priority</label>
                <label>priority</label>
                @Html.DropDownList("priority", (IEnumerable<SelectListItem>)Session["PriorityList"])
                    
                
                <label>Work Area</label>
                @Html.DropDownList("workArea", (IEnumerable<SelectListItem>)Session["WorkAreaList"])

                <label>Address</label>
                <input class="form-control" type="text" id="address" name="address" value=@updateWorkOrder.address required="true"/>
                <label>Postal Code</label>
                <input class="form-control" type="text" id="postalCode" name="postalCode"  value=@(updateWorkOrder.postal_code) required="true"/>
                <label>Estimated Time</label>
                <input class="form-control" type="number" id="estimatedTime" name="estimatedTime" value=@updateWorkOrder.estimated_time_minutes required="true"/>
                <input class="form-control" type="submit" value="submit" />


            </form>
        }


         
            }
</div>