@model Sched.Models.Recommendations

@{
    ViewBag.Title = "Reccomendations";
}

<h2>Reccomendations</h2>

<table class="table">
    <tr>
        <th>Recommended Technicians</th>
    </tr>

    @foreach (var recommendedTechnician in Model.reccomendedTechnicians)
    {
        <tr>
            <td>
                <form method="post" action="@Url.Action("AssignTechnician","Display")">
                    <input type="hidden" id="workOrderId" name="workOrderId" value="@Model.workOrder.Id" />
                    <input type="hidden" id="technicianId" name="technicianId" value="@recommendedTechnician.technician.Id" />
                    <label>StartDate</label>
                    <input class="form-control" type="datetime-local" id="startTime" name="startTime" />
                    <input class="form-control" type="submit"
                           value="@recommendedTechnician.technician.first_name @recommendedTechnician.technician.last_name" />
                </form>
            </td>
        </tr>
    }
    @if (Model.reccomendedResources.Count() > 0 || Model.allResources.Count() > 0)
    {
        <tr>
            <th>Recommended Resources</th>
        </tr>
        foreach (var recommendationsResource in Model.reccomendedResources)
        {
            <tr>
                <td>
                    <form method="post" action="@Url.Action("AssignResource","Display")">
                        <input type="hidden" id="workOrderId" name="workOrderId" value="@Model.workOrder.Id" />
                        <input type="hidden" id="resourceId" name="resourceId" value="@recommendationsResource.resources.Id" />
                        <label>StartDate</label>
                        <input class="form-control" type="datetime-local" id="startTime" name="startTime" />
                        <input class="form-control" type="submit"
                               value="@recommendationsResource.resourceName id#: @recommendationsResource.resources.Id" />
                    </form>
                </td>
            </tr>
        }
    }
    <tr>
        <th>All Technicians</th>
    </tr>
    @foreach (var technician in Model.allTechnicians)
    {
        <tr>
            <td>
                <form method="post" action="@Url.Action("AssignTechnician","Display")">
                    <input type="hidden" id="workOrderId" name="workOrderId" value="@Model.workOrder.Id" />
                    <input type="hidden" id="technicianId" name="technicianId" value="@technician.technician.Id" />
                    <label>StartDate</label>
                    <input class="form-control" type="datetime-local" id="startTime" name="startTime" />
                    <input class="form-control" type="submit"
                           value="@technician.technician.first_name @technician.technician.last_name" />
                </form>
            </td>
        </tr>
    }
    @if (Model.allResources.Count() > 0)
    {
        <tr>
            <th>All Resources</th>
        </tr>
        foreach (var resource in Model.allResources)
        {
            <tr>
                <td>
                    <form method="post" action="@Url.Action("AssignResource", "Display")">
                        <input type="hidden" id="workOrderId" name="workOrderId" value="@Model.workOrder.Id" />
                        <input type="hidden" id="resourceId" name="resourceId" value="@resource.resources.Id" />
                        <label>StartDate</label>
                        <input class="form-control" type="datetime-local" id="startTime" name="startTime" />
                        <input class="form-control" type="submit"
                               value="@resource.resourceName id#: @resource.resources.Id" />
                    </form>
                </td>
            </tr>
        }
    }
    </table>
